<nav>
  <div class="container">
    <div class="navbar-header pull-left">
      <a routerLink="/">
        <img src="/assets/logo.svg">
      </a>
    </div>
    <div class="navbar-header pull-right">
      <ul>
        <li routerLinkActive="active"><a routerLink="/register">
          <span class="glyphicon glyphicon-user"></span>
          <span>Register</span>
        </a></li>
        <li routerLinkActive="active"><a routerLink="/login">
          <span class="glyphicon glyphicon-log-in"></span>
          <span>Login</span>
        </a></li>
      </ul>
    </div>
  </div>
</nav>
