.glyphicon {
  color: #666;
}

.mat-card {
  width: 95%;
  margin-left: 2.5%;
}

.mat-card-avatar {
  position: relative;
}
.mat-card-avatar,
.mat-card-avatar > img {
  height: 80px;
  width: 80px;
  border-radius: 10%;
}
.glyphicon-zoom-in {
  display: none;
  position: absolute;
  right: 5px;
  top: 50px;
  color: #fff;
  font-size: 23px;
}
.mat-card-avatar:hover .glyphicon-zoom-in {
  display: inline-block;
}
.glyphicon-zoom-in:hover {
  cursor: pointer;
}

.mat-card-title {
  font-size: 16px;
  font-weight: bold;
}
.mat-card-title > a {
  color: black;
}

.mat-icon-button {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
}
.mat-card:hover .mat-icon-button {
  display: block;
}
.mat-menu-item {
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}

.bio {
  margin-bottom: 0;
}

.toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.toggle>button {
  min-width: 20px;
  line-height: initial;
  padding: initial;
}
